<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <!--<property name="hibernate.connection.username"></property>-->
        <!--<property name="hibernate.connection.password"></property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dinodb</property>
        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <mapping class="models.dinosaurs.Dinosaur"/>
        <mapping class="models.dinosaurs.Diplodocus"/>
        <mapping class="models.dinosaurs.Stegosaurus"/>
        <mapping class="models.dinosaurs.Tyrannosaurus"/>
        <mapping class="models.dinosaurs.Velociraptor"/>
        <mapping class="models.enums.DietType"/>
        <mapping class="models.foods.Food"/>
        <mapping class="models.foods.Meat"/>
        <mapping class="models.foods.Plant"/>
        <mapping class="models.humans.Human"/>
        <mapping class="models.humans.ParkStaff"/>
        <mapping class="models.humans.Visitor"/>
        <mapping class="models.Paddock"/>
        <mapping class="models.Park"/>
        <mapping class="models.RandomGenerator"/>

    </session-factory>
</hibernate-configuration>
