.edit_button{
background-color: orange;
color: white;

}

.add_new_button{
background-color: teal;
color: white;
padding: 50px;
}


.delete_button{
background-color: red;
color: white;
}


.details_button{
background-color: purple;
color: white;
}