.input{
    -webkit-appearance:none;
    }

.nav_stats {
    display: block;
    padding: 30px;
    background: linear-gradient(slategray, lightgray);
    float: centre;
    color: black;
   font-family: 'Rubik', sans-serif;
    font-size: 26;

}

.nav_stats div{
float: left;
display: inline-block;
color: black;
}

.nav_element{
 padding-right: 60px;


 }


