
body {
font-family: 'Rubik', sans-serif;
}


.pageHeader{

font-family: 'Permanent Marker', cursive, bold;
font-size: 20px;
color: #2F4F4F;
}


a {
  color: #2F4F4F;
}


.parkadmin_container{

text-align: center;

}
