
body {
font-family: 'Rubik', sans-serif;
}


.pageHeader{

font-family: 'Rubik', sans-serif;
font-weight: bold;
font-size: 26px;
color: black;
}


a {
  color: #2F4F4F;
}


.parkadmin_container{

text-align: center;

}
