.input{
    -webkit-appearance:none;
    }

.nav_stats {
    display: block;
    padding: 30px;
    background-color: silver;
    float: centre;
    color: white;

}

.nav_stats div{
float: left;
display: inline-block;
color: white;
}

.nav_element{
 padding-right: 80px;
 border-right: 1px solid white;

 }

.edit_button{
background-color: orange;
color: white;
}

.add_new_button{
background-color: green;
color: white;
}


.delete_button{
background-color: red;
color: white;
}


.details_button{
background-color: purple;
color: white;
}




.a{


}


body {
font-family: 'Rubik', sans-serif;
}

table {
  padding-top: 30px;
  padding-bottom: 30px;
}

th {

font-family: 'Rubik', sans-serif, bold;
  background-color: DarkSeaGreen;
  color: white;
}


.pageHeader{

font-family: 'Permanent Marker', cursive, bold;
font-size: 18px;
color: #2F4F4F;
}



a {
  color: #2F4F4F;
}


