
table {
  padding-top: 30px;
  padding-bottom: 30px;
}

th {
font-family: 'Rubik', sans-serif;
  background-color: DarkSeaGreen;
  color: white;
  text-align: center;
  line-height: 1.8;
  column-gap: 80px;

}

td{
text-align: center;
}
