#foreach($paddock in $paddocks)




<div class="parkadmin_container">
    <div><p><a href="/paddocks/$paddock.getId()">$paddock.getName()</a></p></div>
<div><p><td>$paddock.getDinosaursInPaddock().size()</td></p></div>
<div><p><td>$paddock.getVisitorsInPaddock().size()</td></p></div>
<div> <p><td>$paddock.getFoodStore().size()</td></p></div>
    #end
</div>
