<!DOCTYPE html>
<html>
<head>
    <title>Dino Info</title>
    <nav>

        <div class="container">
            <div>Till: $park.getTill()</a></div>
            <div>Visitors: <a href="/visitors">$totalVisitors</a></div>
            <div>Dinosaurs: <a href="/dinosaurs">$totalDinosaurs</a></div>
        </div>

        <a href="/dinosaurs">Dinosaurs</a>
        <a href="/visitors">Visitors</a>
        <a href="/paddocks">Paddocks</a>

        <!--link to index.vtl/"homepage"-->

    </nav>
</head>
<body>


<div class="container">
    #parse( $template )
</div>

</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Jurassic Snack</title>-->
    <!--<link rel="stylesheet" href="/style.css">-->
<!--</head>-->
<!--<body>-->
<!--<nav>-->
    <!--<div class="container">-->
        <!--<div><a href="/bookings">Home</a></div>-->
        <!--<div><a href="/customers">Customers</a></div>-->
    <!--</div>-->
<!--</nav>-->
<!--&lt;!&ndash; begin inner template&ndash;&gt;-->
<!--<div class="container wrapper">-->
    <!--#parse( $template )-->
<!--</div>-->
<!--&lt;!&ndash; end inner template&ndash;&gt;-->
<!--</body>-->
<!--</html>-->


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->

<!--<ul>-->
    <!--<li><a href="#home">Home</a></li>-->
    <!--<li><a href="#news">News</a></li>-->
    <!--<li><a href="#contact">Contact</a></li>-->
    <!--<li><a href="#about">About</a></li>-->
<!--</ul>-->

<!--<p>Note: We use href="#" for test links. In a real web site this would be URLs.</p>-->

<!--</body>-->
<!--</html>-->