<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Rubik" rel="stylesheet">

    <title>Dino Info</title>
    <nav>

        <div class="nav_stats">

            <div class="nav_element"><img src="/images/Money.png" height="25" width="25">$park.getTill()</a></div>
            <div class="nav_element"><img src="/images/Visitor.png" height="25" width="25"><a href="/visitors">$totalVisitors</a></div>
            <div class="nav_element"><img src="/images/Dino.png" height="25" width="25"><a href="/dinosaurs">$totalDinosaurs</a></div>
            <div><a href="/parkadmin"></a></div>


    </nav>

</head>
<body>


<div class="container">
    #parse( $template )
</div>

</body>
</html>

