<p class="pageHeader">New Visitor</p>

<form action="/visitors/new" method="post">

    <label for="name">Name:</label>
    <input type="text" class="inputBox" name="name" required="true" id="name">

    <label for="wallet">Wallet:</label>
    <input type="number" class="inputBox" name="wallet" required="true" id="wallet">

    <input type="submit" value="Save" class="button">

</form>