<p class="pageHeader">All Visitors</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Wallet</th>
            <th>Park</th>

        </tr>
        <!---->
        <!--add edit/delete button-->
        #foreach($dinosaur in $dinosaurs )
        <tr>
            <td>$dinosaur.getName()</td>
            <td>$dinosaur.getWallet()</td>
            <td>$dinosaur.getPark()</td>
        </tr>
        #end
    </table>
</div>
