<div>
    <p> Name: $visitor.getName()</p>
    <p> Wallet:$visitor.getWallet()</p>
</div>

<a href="/visitors/$visitor.getId()/edit" class="edit_button">Edit</a>
<form action="/visitors/$visitor.getId()/delete" method="post">
    <input type="submit" value="delete" class="delete_button">
</form>


