<p class="pageHeader">All Dinos</p>

<div class="container">
    <table>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Price</th>
            <th>BellyCapacity</th>
            <th>DietType</th>
        </tr>
        <!---->
        <!--add edit/delete button-->
        #foreach($dinosaur in $dinosaurs )
        <tr>
            <td>$dinosaur.getName()</td>
        </tr>
            #end
    </table>
</div>


